@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,600&family=Outfit:wght@200;300;400;500;600;700&family=Overpass:wght@300&family=Space+Mono:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  font-family:Outfit;
  background: #10141E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}